body{
    background-color: #F3F5F9;
}
.after-nav{
    padding-top: 80px;
}

.outside_card{
    padding: 0px;
}

.outside_card:focus{
    border: none;
    border-radius: 0%;
    box-shadow: none;
}

.inside_card{
    padding-left: 10px;
}

.log_in_alert{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -18px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.log_in_alert button{
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    margin-top: -3px;
    margin-left: 220px;
    text-align: right;
}

#search{
    width: 24rem;
    margin-bottom: 15px;
    margin-top: 20px;
}

#account_circle_icon{
    color: white;
    font-size: 30px;
}

#account_circle_in_profile{
    font-size: 150px;
    color: black;
}

#submission_box{
    padding: 15px 20px;
}

#icon_arrow_forward, #icon_open_in_full{
    color: #999999;
    flex-grow: 1;
    align-self: center;
    text-align: right;
    font-size: 20px;
}